<article id="classifier-quiz">
  {% include 'count.html' %}
  <h5 class="quiz-kind">Measure word</h5>
  {% with glyph = hanzi %}{% include 'quizzes/glyph.html' %}{% endwith %}
  {% if reading_display %}
  <p class="pinyin">{{reading_display}}</p>
  {% endif %}
  <ul class="gloss-list">
    {% for item in meaning %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
  <div class="answer-row">
  {% for c in choices %}
  {% if c.is_answer %}
  <button class="answer large-answer classifier-correct" _="
    on click
    add @disabled to .answer
    add .green to me
    js play_success() end
    js play_pronounce() end
    show .feedback
  ">
  {% else %}
  <button class="answer large-answer" _="
    on click
    add @disabled to .answer
    add .red to me
    add .green to .classifier-correct
    js play_failure() end
    js play_pronounce() end
    show .feedback
  ">
  {% endif %}
    {{c.hanzi}}<small class="cls-py">{{c.pinyin_display}}</small>
  </button>
  {% endfor %}
  </div>
</article>

<audio src="pronounce/{{speak}}" id="pronounce"></audio>
{% include 'quizzes/feedback.html' %}
