<article
  id="component-quiz"
  style="display: inline-block"
  remaining={{decomposition.true_length}}
  _="
    on mutation of @remaining
    if @remaining is 0
      add @disabled to .answer
      add .grey to .answer
      show .large
      js play_success() end
      show .feedback
      js play_pronounce() end
    end"
  >
  {% include 'count.html' %}
  <h5 class="quiz-kind">Decomposition</h5>
  {% with glyph = hanzi, glyph_hidden = true %}{% include 'quizzes/glyph.html' %}{% endwith %}
  <p class="pinyin">{{pinyin}}</p>
  <ul id="meaning-answer" class="gloss-list">
    {% for item in meaning %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
  <div class="answer-row">
  {% for item in decomposition.radicals %}
  {% if item.is_real %}
    <button class="answer large-answer" _="
      on click
      set #component-quiz's @remaining to #component-quiz's @remaining - 1
      add .green to me
      add @disabled to me
    ">
  {% else %}
    <button class="answer large-answer" _="
      on click
      add .red to me
      add @disabled to me
      ">
  {% endif %}
    {% if item.svg_paths %}
    <svg class="chunk-svg" viewBox="{{item.svg_viewbox}}" aria-label="{{item.parts|join('+') or item.hanzi}}">
      <g transform="scale(1,-1) translate(0,-900)">
        {%- for path in item.svg_paths %}<path d="{{path}}"/>{% endfor -%}
      </g>
    </svg>
    {% elif item.parts %}
    <span class="composite composite-{{item.arrangement}}">
      {%- for part in item.parts %}<span>{{part}}</span>{% endfor -%}
    </span>
    {% else %}
    {{item.hanzi}}
    {% endif %}
  </button>
  {% endfor %}
  </div>
</article>

<audio src="pronounce/{{hanzi}}" id="pronounce"></audio>
{% include 'quizzes/feedback.html' %}
