<div class="grid feedback" style="display: none">
  <button
    class="srs-again"
    title="Shortcut: 1"
    hx-post="/review/{{card_id}}/again"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Again{% if intervals %} <small>{{intervals["again"]}}</small>{% endif %}
  </button>
  <button
    class="srs-hard"
    title="Shortcut: 2"
    hx-post="/review/{{card_id}}/hard"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Hard{% if intervals %} <small>{{intervals["hard"]}}</small>{% endif %}
  </button>
  <button
    class="srs-good"
    title="Shortcut: 3"
    hx-post="/review/{{card_id}}/good"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Good{% if intervals %} <small>{{intervals["good"]}}</small>{% endif %}
  </button>
  <button
    class="srs-easy"
    title="Shortcut: 4"
    hx-post="/review/{{card_id}}/easy"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Easy{% if intervals %} <small>{{intervals["easy"]}}</small>{% endif %}
  </button>
  {% if translation %}
  <button class="srs-retest"
    title="Shortcut: 5" hx-post="/learn" hx-target="#quiz" hx-swap="innerHTML">
    Retest
  </button>
  {% endif %}
</div>
