<div class="grid feedback" style="display: none">
  <button
    hx-post="/review/{{card_id}}/again"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Again
  </button>
  <button
    hx-post="/review/{{card_id}}/hard"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Hard
  </button>
  <button
    hx-post="/review/{{card_id}}/good"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Good
  </button>
  <button
    hx-post="/review/{{card_id}}/easy"
    hx-target="#quiz"
    hx-swap="innerHTML"
  >
    Easy
  </button>
  {% if translation %}
  <button hx-post="/learn" hx-target="#quiz" hx-swap="innerHTML">Retest</button>
  {% endif %}
</div>
