<article id="meaning-quiz">
  {% include 'count.html' %}
  <h5 class="quiz-kind">Pronunciation</h5>
  {% with glyph = hanzi %}{% include 'quizzes/glyph.html' %}{% endwith %}
  {% if reading %}
  <p class="gloss-inline">{{glosses | join("; ")}}</p>
  {% endif %}
  <p id="pronunciation-answer" class="pinyin" style="display: none">{{pinyin}}</p>
  <script type="application/json" id="pronunciation-answers">
    {{ pinyin_numbers | tojson }}
  </script>
  <form
    _="
    on submit
    halt the event's default
    show #pronunciation-answer
    hide the first <button /> in me
    call check_pronunciation(the value of #pronunciation-input)
    if the result
      add .green to #pronunciation-input
      js play_success() end
      js play_pronounce() end
    else
      add .red to #pronunciation-input
      js play_failure() end
      js play_pronounce() end
    end
    show .feedback
    "
  >
    <label for="pronunciation-input" class="visually-hidden">
      Pinyin with tone numbers
    </label>
    <input type="text" id="pronunciation-input" autocomplete="off" />
    <button type="submit">Reveal pinyin</button>
  </form>
</article>

<audio src="pronounce/{{speak}}" id="pronounce"></audio>
{% include 'quizzes/feedback.html' %}
