<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hanzi Friend{% endblock %}</title>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="container small">
      <nav aria-label="Main">
        <ul>
          <li><a href="/"><strong>Hanzi Friend</strong></a></li>
        </ul>
        <ul>
          {% if session.get("user_id") %}
          <li><a href="/teach">Teach</a></li>
          <li>
            <form method="POST" action="/logout" class="logout-form">
              <button type="submit" class="secondary outline">
                Log out {{session.get("username")}}
              </button>
            </form>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container small">{% block content %}{% endblock %}</main>
  </body>
</html>
